* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", serif;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-color: #E7E7E7;
    padding: 5px 130px;
    height: 13.6vh;
    min-height: 80px;
    max-height: 110px;

    &_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;


        &__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3.8vw;
            height: 100%;
        }

        &__menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2.6vw;
        }

        &__link {
            font-size: 18px;
            font-weight: 500;
            transition: all 0.3s ease;

            &:hover {
                color: #104360;
            }
        }

        &__contacts {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            transition: all 0.3s ease;

            & a:hover {
                color: #104360;
            }
        }

        &__btn {
            background-color: #FFF457;
            font-size: 18px;
            border: 1px solid #CECECE;
            border-radius: 8px;
            padding: 11px 23px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: #FDDB3A;
            }
        }
    }

    &_box__mainlogo {
        width: 11.4vw;
        max-width: 220px;
        min-width: 100px;
    }


}

.top {
    height: calc(100vh - 86px);
    // background-image: url("./img/top-img.jpg");
    // background-size: 100%;
    // background-repeat: no-repeat;
    // background-position: center;
    // padding-top: 77px;
    position: relative;

    &_img {
        width: 100%;
        height: 100%;
    }

    &_title {
        top: 77px;
        position: absolute;
        color: #FFFFFF;
        font-size: 82px;
        font-weight: 900;
        text-shadow: -1px -1px 0 #979E9C, 1px -1px 0 #979E9C, -1px 1px 0 #979E9C, 1px 1px 0 #979E9C;
        margin-left: 130px;
    }
}

#section1 {
    background: rgb(151, 158, 157);
    background: -moz-linear-gradient(183deg, rgba(151, 158, 157, 1) 0%, rgba(231, 231, 231, 1) 85%);
    background: -webkit-linear-gradient(183deg, rgba(151, 158, 157, 1) 0%, rgba(231, 231, 231, 1) 85%);
    background: linear-gradient(183deg, rgba(151, 158, 157, 1) 0%, rgba(231, 231, 231, 1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#979e9d", endColorstr="#e7e7e7", GradientType=1);
    width: 100%;
    padding: 55px 15vw;
}

.section1 {
    &_title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &_line {
        width: 49vw;
        border: 2px solid #FFF457;
        margin-bottom: 55px;
    }

    &_text {
        width: 51vw;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 64px;
    }

    &_box {
        display: flex;
        justify-content: center;
        gap: 70px;

        & img {
            width: 28vw;
            max-width: 550px;
        }
    }

    &_box__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: stretch;
        gap: 15px;

    }

    &_item {
        font-size: 18px;
        font-weight: 400;
        // width: 285px;
        // height: 115px;
        background-color: #F4F4F4;
        border-radius: 8px;
        -webkit-box-shadow: 4px 6px 16px 0px rgba(34, 60, 80, 0.15);
        -moz-box-shadow: 4px 6px 16px 0px rgba(34, 60, 80, 0.15);
        box-shadow: 4px 6px 16px 0px rgba(34, 60, 80, 0.15);
        text-align: center;
        align-content: center;
        padding: 2px 3px;
    }
}

#section2 {
    background: rgb(174, 180, 179);
    background: -moz-linear-gradient(0deg, rgba(174, 180, 179, 1) 0%, rgba(231, 231, 231, 1) 85%);
    background: -webkit-linear-gradient(0deg, rgba(174, 180, 179, 1) 0%, rgba(231, 231, 231, 1) 85%);
    background: linear-gradient(0deg, rgba(174, 180, 179, 1) 0%, rgba(231, 231, 231, 1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aeb4b3", endColorstr="#e7e7e7", GradientType=1);
    width: 100%;
    padding: 51px 15vw 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.section2 {
    &_title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 15px;
        text-align: end;
    }

    &_line {
        width: 49vw;
        border: 2px solid #FFF457;
        margin-bottom: 55px;
    }

    &_text {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 64px;
        text-align: end;
        width: 50vw;
    }

    &_box {
        display: flex;
        justify-content: center;
        gap: 65px;

        & img {
            width: 29vw;
            max-width: 550px;
        }
    }

    &_box__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: stretch;
        gap: 15px;

    }

    &_item {
        font-size: 18px;
        font-weight: 400;
        // width: 285px;
        // height: 115px;
        background-color: #F4F4F4;
        border-radius: 8px;
        -webkit-box-shadow: 4px 6px 16px 0px rgba(34, 60, 80, 0.15);
        -moz-box-shadow: 4px 6px 16px 0px rgba(34, 60, 80, 0.15);
        box-shadow: 4px 6px 16px 0px rgba(34, 60, 80, 0.15);
        text-align: center;
        align-content: center;
        padding: 2px 3px;
    }
}

.documentation {
    background: rgb(231, 231, 231);
    background: -moz-linear-gradient(0deg, rgba(231, 231, 231, 1) 0%, rgba(206, 206, 206, 1) 40%, rgba(174, 180, 179, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(231, 231, 231, 1) 0%, rgba(206, 206, 206, 1) 40%, rgba(174, 180, 179, 1) 100%);
    background: linear-gradient(0deg, rgba(231, 231, 231, 1) 0%, rgba(206, 206, 206, 1) 40%, rgba(174, 180, 179, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7e7e7", endColorstr="#aeb4b3", GradientType=1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px 20vw 100px;

    &_title {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
    }

    &_text {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
    }

    &_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    &_item {
        padding: 30px 30px;
        background-color: #D9D9D9;
        border: 2px solid #FFF457;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 500;
    }
}

#gallery {
    background-color: #E7E7E7;
    width: 100%;
}

.gallery {
    &_title {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 50px;
    }
}

.swiper {
    width: 37vw;
    max-width: 830px;
    height: max-content;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 37vw;
    max-width: 830px;
    height: max-content;
    object-fit: cover;
}

.swiper {
    width: 37vw;
    max-width: 830px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 37vw;
    max-width: 830px;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-horizontal {
    margin-top: 10px;
}

.order {
    background: rgb(206, 206, 206);
    background: -moz-linear-gradient(0deg, rgba(206, 206, 206, 1) 0%, rgba(231, 231, 231, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(206, 206, 206, 1) 0%, rgba(231, 231, 231, 1) 100%);
    background: linear-gradient(0deg, rgba(206, 206, 206, 1) 0%, rgba(231, 231, 231, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cecece", endColorstr="#e7e7e7", GradientType=1);
    padding: 78px 14vw 45px;

    &_title {
        margin-bottom: 60px;
        font-size: 25px;
        font-weight: 700;
    }

    &_box {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        // justify-content: space-between;
        // align-items: center;
        gap: 11px;
        margin-bottom: 66px;
    }

    &_item {
        // width: 200px;
        // height: 190px;
        background-color: #F5F5F5;
        border-radius: 40px;
        background-color: #F4F4F4;
        -webkit-box-shadow: 4px 6px 16px 0px rgba(34, 60, 80, 0.15);
        -moz-box-shadow: 4px 6px 16px 0px rgba(34, 60, 80, 0.15);
        box-shadow: 4px 6px 16px 0px rgba(34, 60, 80, 0.15);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 18px 5px;
        transition: all 0.3s ease;

        &__link {
            color: #104360;
        }

        &__link:hover {
            cursor: pointer;
            text-decoration: underline;
            color: #104360;
        }

        &__num {
            color: #FFEE00;
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &__heading {
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 10px;
        }

        &_desc {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }
    }

    &_block {
        width: 25vw;
        max-width: 470px;
        background-color: #797C7C;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 auto;
        align-items: center;
        gap: 16px;
        padding-top: 18px;
        padding-bottom: 20px;

        &__text {
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
        }

        &__tel {
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            transition: all 0.3s ease;

            &:hover {
                cursor: pointer;
                color: #104360;
            }
        }

        &__btn {
            background-color: #FFF457;
            font-weight: 700;
            color: #000;
            font-size: 14px;
            border: none;
            border-radius: 8px;
            padding: 9px 13px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: #e7c931;
            }
        }
    }
}


#delivery {
    width: 100%;
    background-color: #F4F4F4;
    padding: 75px 15vw 70px;
}

.delivery {

    &_title {
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 60px;
    }

    &_flexbox {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 80px;
        margin-bottom: 90px;
    }

    &_flexbox__text {
        max-width: 55%;
    }

    &_text {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
    }

    &_flexbox__slider {
        width: 28vw;
        max-width: 550px;
        background-color: #979E9C;
    }

    &_list {
        margin-top: 20px;
        margin-bottom: 50px;
        // list-style: inside;
        list-style: inside url("./img/list-style-img.svg");
    }

    &_logos {
        width: 100%;
        margin-bottom: 80px;
    }

    &_centertxt {
        text-align: center;
        max-width: 960px;
        width: 55vw;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin: 0 auto;
    }

}

#footer {
    position: relative;
    background-color: #505050;
    padding-top: 60px;
    padding-bottom: 20px;
}

.footer {
    &_logo {
        width: 195px;
        margin-bottom: 35px;
    }

    &_box {
        display: flex;
        justify-content: center;
        gap: 10vw;
        width: 920px;
        margin: 0 auto 60px;

    }

    &_info__text {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 15px;
    }

    &_info__link {
        transition: color 0.3s ease;
    }

    &_info__link:hover{
        color: #FFF457;
    }

    &_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 35px;
    }

    &_link {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        transition: all 0.3s ease;

        &:hover {
            color: #e7c931;
        }
    }

    &_text {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
}

.scroll-to-top {
    position: absolute;
    top: 25px;
    right: 13vw;
    color: #FFF457;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.scroll-to-top:hover {
    color: #FDDB3A;
}


// Форма

.form-container {
    background-color: white;
    padding: 25px 40px 30px;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    color: #000;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    border: none;
    background-color: #F1F1F1;
    resize: none;
}


::placeholder {
    color: #666666;
    font-family: "Roboto", serif;
    font-size: 14px;

}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
    accent-color: yellow;
    width: 20px !important;
    margin-right: 8px;
    margin-top: 0 !important;
    height: 20px;
    cursor: pointer;
}

.consent-text {
    font-size: 12px;
    color: #555;
    line-height: 1.3;

    & a {
        color: #104360;
        text-decoration: underline;
    }
}


.submit-btn {
    width: 100%;
    padding: 11px;
    background-color: #FFF457;
    color: #000;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}


.submit-btn:hover {
    background-color: #FDDB3A;
}